<h3>Contact Me</h3>

<form action="/contact" method="POST">
  <label for="name">Name</label>
  <input type="name" placeholder="Enter name" name="name">  

  <label for="email">Email</label>
  <input type="email" placeholder="Enter email" name="email">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>
  <input type="submit" value="Send Message" class="btn">

  <input type="submit" value="Reset" class="btn">
</form>